body {
	font-family: 'Balthazar', serif;
	text-align: center;
	background-image: url("../images/congruent_pentagon.png");
}

#instructions {
	padding: 10px;
	background-color: #effdf5;
	opacity: 0.7;
}

#numbers-section {
	padding: 10px;
	background-color: #effdf5;
	opacity: 0.7;
}

h1 {
	font-size: 48px;
	letter-spacing: 3px;
	padding: 20px;
	opacity: 0.7;
}

#goal-number {
	font-size: 88px;
}

#your-number {
	font-size: 88px;
}

a {
	color: #36454f;
}

a:hover {
	opacity: 0.5;
	text-decoration: none;
}

img {
	padding: 20px;
}

h5 {
	padding: 20px;
	opacity: 0.7;
}