body {
	font-family: 'Berkshire Swash', cursive;
	text-align: center;
	background-image: url("../images/congruent_pentagon.png");
}

#instructions {
	padding: 10px;
	background-color: #effdf5;
	opacity: 0.7;
	box-shadow:0 0 20px white;
}

p {
	font-family: 'Raleway', sans-serif;
}

#numbers-section {
	padding: 10px;
	background-color: #effdf5;
	opacity: 0.7;
	box-shadow:0 0 20px white;
}

h1 {
	font-size: 48px;
	letter-spacing: 3px;
	padding: 20px;
	opacity: 0.7;
}

#magic-number,
#your-number {
	font-size: 88px;
}

#magic-section,
#your-section {
	padding-top: 20px;
}

a {
	color: #36454f;
}

a:hover {
	opacity: 0.5;
	text-decoration: none;
}

img {
	margin: 15px;
}

h5 {
	padding: 20px;
	opacity: 0.7;
}

#win-lose-comment {
	padding: 7px;
}